@font-face{
    font-family: 'welearn';
    src:url('../fonts/Yekan.woff') format('woff');
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

#aval{


    font-size:30px;
    padding:10px;
    margin:5px;
    color:black;
    border:1px solid green;
    background-color: lightblue;
    border-radius: 40px;


}



blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
img{
    max-width: 100%;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    max-width: 50px;
    border-color: rgb(224, 21, 164);
    border-width: 3px;
    margin:30px auto;
    display:block;
}

hr.light{
    border-color: #fff;
}

input, select {
    vertical-align:middle;
}
html,body{
    height:100%;
    width:100%;
}

.btn{

    color:#fff
    border-radius:30px;
    background-color: green;
    border:1px solid green;
   
}



.btn-primary:hover{

    color:#fff;


}


body{ 
    direction: rtl;
    font: 13px/25px 'welearn','Myriad Pro',Tahoma;
}

.no-padding{
    padding: 0;
}

a{
    transition:all .2s ease-in-out;
   -webkit-transition:all .2s ease-in-out;
   -moz-transition:all .2s ease-in-out;
   -o-transition:all .2s ease-in-out;
}

header{
    width:100%;
    position:relative;    
    color: #fff;
    text-align:center;
    background: url(../img/headerweb.png);   
    background-size:cover;
    background-position: center;
}
@media screen and (min-width: 768px){
    header{
        min-height:100%;
    }
    
}
.navbar-default{
    width:100%;
    background:transparent;
    border-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,.3);
    border-radius:0px;
}
.navbar-default .navbar-nav > li > a{
    color: rgba(255,255,255,.9);
    font-size:14px;
}


.navbar-nav > li{
    float:right;
}

.navbar-default .navbar-brand{
    color: rgba(255,255,255,.9);

}

.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-brand:hover {
    color: rgb(158, 68, 131);
}

.header-content{
    padding: 80px 150px;

}

.header-content h1{
    font-size: 50px;
}

.header-content p{
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 45px;
    color: beige;
}
.about-section{
    background: rgb(224, 21, 164);
    padding: 100px 0;
    color: #fdfdfd;
}

.about-section h2{
    font-size: 30px;

}

.about-section p{
    color: rgb(255,255,255);
    margin-bottom: 20px;
    font-size: 19px;

}

.services-section{
    padding: 100px 0;
    color: #222;

}

.services-section h2{
    font-size: 30px
}

.services-section .glyphicon{
    font-size: 50px;
    margin: 10px auto;
    color: #7819B2;
}

.services-section h3{
    font-size: 20px;
    margin: 10px 0 15px;

}

.portfolio-box {
    display:block; 
    position:relative;
    margin:0 auto;
   
}
.portfolio-box .portfolio-box-caption{
    width:100%;
    height:100%;
    text-align:center;
    position:absolute;
    bottom:0;
    color:#fff;
    opacity:0;
    background:#7819B2; 
    transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}

.portfolio-box:hover .portfolio-box-caption{
    opacity:1
}

.portfolio-box .portfolio-box-caption-content{
    width:100%;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .categoty{
    font-size:15px;
    padding: 10px 0;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .name{
    font-size:25px;
}
.more-portfolio{
    padding: 50px 0;
    background: #373737;
    text-align: center;
    color:#fff;

}
.more-portfolio h2{
    font-size: 25px;
    margin: 25px 0 40px;
}

.contact-section{
    width: 100%;
    padding: 100px 0;
    color: #222;
    float: right;

}

.contact-section{
    font-size:21px;
}

.contact-section .glyphicon{
    font-size: 25px;
    color: #7819B2;
    padding: 20px 0;
}
.contact-section span{
    display: block;
}
@media screen and (max-width:721px){
    .header-content{
        padding: 0;
    }
    .header-content h1{
        font-size: 35px;
    }
    .header-content p{
        font-size: 16px;
        color: #fdfdfd;
    }
    .header-content .btn{
        margin-bottom: 20px;
    }

}